<div id='application-<%= application.id %>' class='application'>
    <h2><%= application.title %></h2>
    <%= image_tag application.appimage_url %>
    <p><%= application.description.slice!(0...120) %></p>
    <%= link_to 'More... ', application %> <br/>
    <%= link_to 'Download', application.appexecutable_url %>
</div>
