  <tr>
    <td><%= application.title %></td>
    <td><%= application.description %></td>
    <td><%= application.version %></td>
    <td><%= link_to 'Show', application %></td>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <td><%= link_to 'Destroy', application, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
