<div id='left_panel'>
  <% @applications.delete( @application ) %>
  <%= render @applications %>
</div>

<idv id='main_panel'>
<p id="notice"><%= notice %></p>

<h2><%= @application.title %></h2>

<%= image_tag @application.appimage_url %>

<br/>

<%= @application.description %>
</p>

<%= link_to @application.user.name(), @application.user %> <br/>

<%= link_to 'Download now' , @application.appexecutable_url %>

<% if @application.user == @current_user %>
<h3>Manage</h3>
<%= link_to 'Statistics', statistics_application_path %>
<%= link_to 'Edit', edit_application_path  %>
<%= link_to 'Destroy', @application, confirm: 'Are you sure?', method: :delete %>
<% end %>

<h3>Comments for this application</h3>

<% @comment = Comment.new( { :application => @application } ) %>
<%= render :partial => 'comments/form' %>

<%= "No comments yet!" if @application.has_comments?  %>

<%= render @application.comments.reverse %>

</div>
