<div id='left_panel'>
  <%= render @applications %>
</div>

<idv id='main_panel'>
<p id="notice"><%= notice %></p>

<h3><%= @application.title %></h3>

<%= @application.description %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>


<% @comment = Comment.new %>
<%= render :partial => 'comments/form' %>

<h3>Comments for this application</h3>

<%= "No comments yet!" if @application.comments %>
<%= render @application.comments %>

</div>
