<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %><br/>
    <%= f.label  "Confirm password" %><br />
    <%= f.password_field :password_confirm %><br />
    <!-- siirrä CSSään -->
    <p class='error' style='display:none;'>Passwords do not match</p>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type='text/javascript'>
 $('[name="user[password_confirm]"]').bind( 'change' , function() {
     var pw = $(this).parent().find('[name="user[password]"]');
     var pw2 = $(this);
     var error = $(this).parent().find('.error');
     if( pw.val() != pw2.val() ) {
        error.show();
     } else {
        error.hide();
     }
  } );
</script>
