<div id='box-login'>
<% if @current_user %>
Hi <%= link_to @current_user.name() , edit_user_path( @current_user ) %> <%= link_to 'Logout' , logout_users_path %>
<% else %>
<%= form_tag( login_users_path, :method => "post") do %>

  <div class="field">
    <%= label :username, "Username" %><br />
    <%= text_field :username, "" %>
  </div>
  <div class="field">
    <%= label :password, "Password" %><br />
    <%= password_field :password, "" %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
    <%= link_to 'New user?', new_user_path %>
  </div>

<% end %>
<% end %>
</div>
