<%= form_for( @data_entry, :url => application_data_entries_path, :method => "post" ) do |f| %>
  <% if @data_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_entry.errors.count, "error") %> prohibited this data_entry from being saved:</h2>

      <ul>
      <% @data_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.text_field :key %>
  </div>
  <div class="actions">
    <%= f.submit 'Done' %>
  </div>
<% end %>
