<%= form_tag( new_application_data_entry_path, :method => "get" ) do  %>
  <% if @data_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_entry.errors.count, "error") %> prohibited this data_entry from being saved:</h2>

      <ul>
      <% @data_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= text_field_tag :uid %>
  </div>
  <div class="field">
    <%= text_field_tag :key %>
  </div>
  <div class="actions">
    <%= submit_tag 'Done' %>
  </div>
<% end %>
