<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @data_entry.id %>
</p>

<p>
  <b>Time:</b>
  <%= @data_entry.time %>
</p>

<p>
  <b>Key:</b>
  <%= @data_entry.key %>
</p>


<%= link_to 'Edit', edit_data_entry_path(@data_entry) %> |
<%= link_to 'Back', data_entries_path %>
